<h1>Dodaj paketnik</h1>
<form action="/paketnik/" method="post">
    <input type="text" name="id" placeholder="ID paketnika" required>
    <input type="text" name="ulica" placeholder="Ulica" required>
    <input type="text" name="hisnaStevilka" placeholder="Hisna stevilka" required>
    <input type="text" name="postnaStevilka" placeholder="Postna stevilka" required>
    <input type="text" name="mesto" placeholder="Mesto" required>
    <div class="tp">
        <input type="submit" value="Dodaj">
    </div>
</form>